---
layout: slide
title: Oxford Archers Beginners Course
description: Session Three Revision
theme: simple
transition: convex
---

{% include oa_logo.html %}
{% include standard_title.html %}

<section data-markdown>
## Course completed!
### Well done!
_Assuming we haven't driven out your enthuasiasm for archery, let's find out what you should do next as you scroll or swipe through this presentation_
</section>
<section data-markdown>
## We recommend: Oxford Archers!
An open and friendly club, Oxford Archers has been welcoming archers of all levels and all bowstyles for over sixty years.

Target archery is the main activity, but we do participate in the county's clouts and field shoots. We are dedicated to maintaining a supportive atmosphere in which everyone can enjoy archery. Several of our members are high-level archers who compete at national and international tournaments, but we cater to adults and juniors of all abilities, and the club has a strong policy to support its novices and improving archers.

</section>
<section data-markdown>
## Compete
We run a World Record Status Tournament every year, usually in August, hold annual Indoor and Outdoor Club Champs, and regularly host the Outdoor County Champs.
</section>
<section data-markdown>
## Enjoy 
As well as being somewhere to practice and improve, Oxford Archers is also a club in the true sense of the word: there are social events throughout the year, from gathering in the bar for a pint after shooting to Annual Dinners and Summer BBQs, fun shoots and archery-related days out, and all members are encouraged to lend a helping hand and have their say in the running of the club.
</section>
<section data markdown>
## Join
Oxford Archers have a growing membership, but we still have space in the club for new members, and we have something to offer for archers of all ages and abilities.

Visit our website at [www.oxford-archers.org](http://www.oxfordarchers.org) to see all the details
</section>