---
layout: slide
title: Oxford Archers Beginners Course
description: Session One Revision
theme: simple
transition: convex
---

{% include oa_logo.html %}
{% include standard_title.html %}

<section data-markdown>
    ### Congratulations on completing your first day's shooting
  We hope you enjoyed yourself!
_Scroll through this presentation with the arrow keys or swipe!_
</section>
<section data-markdown>
    ### Let's go over some of the things you learned today
  - Safety
  - The archery field
  - Stance
  - Loading an arrow
  - Making a shot!
</section>
<section data-markdown>
  ### Safety
  _Archery is one of the safest sports you can take part in, due mainly to a culture of good safety habits_
  - Arrows: pointy at both ends!
  - Only load arrows on the shooting line
  - Listen for "Hold!" and "Fast!"
</section>
<section data-markdown>
	### The archery field
</section>
<section data-markdown>
	### Stance
</section>
<section data-markdown>
	### Loading an arrow
</section>
<section data-markdown data-background-video="media/DT_140615_shot1.mp4" data-autoplay data-background-video-loop>
	### Making a shot!
  <p class="fragment">
  - Fingers: one above nock, two below
  </p>
    <p class="fragment">
  - Raise to eye level
  </p>
    <p class="fragment">
  - Draw smoothly to chin
  </p>
    <p class="fragment">
  - Release!
  </p>
</section>