---
layout: slide
title: Oxford Archers Beginners Course
description: Session Two Revision
theme: simple
transition: convex
---

{% include oa_logo.html %}
{% include standard_title.html %}

<section data-markdown>
## Another session completed
### Well done!
_Once again, let's go over some of the things you learned today as you scroll or swipe through this presentation_
</section>
<section data-markdown>
## The Recurve Bow
> A recurve bow is a bow with limbs that curve away from the archer when unstrung. A recurve bow stores more energy and delivers energy more efficiently than an equivalent straight-limbed bow, giving a greater amount of energy and speed to the arrow.
- [_Wikipedia_](https://en.wikipedia.org/wiki/Recurve_bow)
</section>
<section data-markdown>
<script type="text/template">
## Parts of the bow
![Basic recurve terminology diagram](/lessontwo/basic-recurve-terminology-diagram-web.jpg)<!-- .element: height="600px" -->
</script>
</section>
<section data-markdown>
<script type="text/template">
## Adjusting the sight
_follow the arrows_
![Basic sight adjustment](/lessontwo/beginners-recurve-barebow-freestyle-aim-guide-web.jpg)<!-- .element: height="600px" -->
</script>
</section>
<section data-markdown>
	<img height= "400px" class="floatleft" data-src="lessontwo/Archery_Target_80cm.svg" alt="Archery Target" title="Archery target" style="margin-right: 20px;"/>
  <h2>Scoring</h2>
    <p>
      The target face has 10 scoring zones:
  </p>
  <ul>
  <li>Gold: 10 and 9</li>
  <li><small>(The centre of the 10 is called an "X" and it's still worth 10!)</small></li>
  <li>Red: 8 and 7</li>
  <li>Blue: 6 and 5</li>
  <li>Black: 4 and 3</li>
  <li>White: 2 and 1</li>
  </ul>
</section>
<section data-markdown data-background="lessontwo/pulling-arrows.jpg" class="whitetext">
<script type="text/template">
  ## Score and Collect!<!-- .element: style="color:white;" -->
- Approach the target carefully
- Call each arrow score as you point to the nock
- Line-cutters score the higher value
- Pull after scoring all arrows:
  - One hand flat on the target
  - Grip the arrow close to the target
  - Check behind you for soft, delicate, human eyes!
  - Pull without bending the arrow
  - Ask for help if you need it
</script>
</section>
<section data-markdown>
## Look after yourself
It's your second lesson and you're still calling on new muscles to draw the bow.
  
Stay warm, drink plenty of water, and get a good night's sleep
  
Next session we'll continue to hone your skills and test your shooting!
</section>
<section data-markdown>
### Credits
  
  - ["An un-official 80cm FITA archery target"](https://commons.wikimedia.org/wiki/File:Archery_Target_80cm.svg) by [Alberto Barbati](https://commons.wikimedia.org/w/index.php?title=User:Iaanus~commonswiki) is licenced under [CC BY SA 2.5](https://creativecommons.org/licenses/by-sa/2.5/)
  - ["Pulling arrows"](lessontwo/pulling-arrows.jpg) by [Tim Holmes](http://www.twitter.com/timjholmes) is licenced under [CC BY SA 3.0](https://creativecommons.org/licenses/by-sa/3.0/) 
</section>
