@CHARSET "UTF-8";

/**********************
 * OA-specific classes - loaded by default in the slide layout
 **********************/

section.logo-background {
  width: 100%; 
  height: 100%; 
  background-size: 80%;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(../../../brand/OA_logo_vector.svg);
}

section.whitetext {
  color: white;
}

section.whitetext > h1,h2,h3 {
  color: white;
}

img.oa_logo_background {
  fill: #222;
}

span.attribution {
    position:absolute;
    bottom:10;
    left:100;
    font-size:0.5em
}

img.floatleft {
  float: left;
  height: 600px;
  margin-right: 20px;
}